@charset "UTF-8";
body {
                background-color: bisque;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15;
            }
            h1 {
                color: blue;
                background-color: rgb(218, 157, 46);
            }
            h2 {
                color: aqua;
                background-color: rgb(228, 140, 26);
            }
            p {
                color: rgb(53, 14, 104);
                text-align: justify
            }